.section {
  position: relative;

  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.section-content {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 420px;

  padding: 30px;

  text-align: center;
}